
.main{
    height: 100%;
    width: 100%;
}

.header-banner{
    height: 180px;
    background-color: rgb(217, 230, 250);
}

.header-banner-inner-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-banner-inner-content h1{
    font-family: "Poppins",sans-serif;
    font-size: 45px;
    font-weight: 800;
}

.our-journey{
    width: 100%;
    height: fit-content;
    max-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0px;
  background-color: #f3f3f3;
}

.journey-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.journey-left{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 5%;
    /* background-color: yellow; */
}

.inner-content-title{
    margin-bottom: 3%;
}

.inner-content-title h5{
    color: #C20000;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: "Poppins",sans-serif;
}

.inner-content-title h1{
    font-family: "Poppins",sans-serif;
    font-weight: 900;
}


.inner-content p{
    font-family: "Poppins",sans-serif;
    font-size: 19px;
}

.journey-right{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: right;
    padding: 20px 0px 20px 20px;
}

.journey-image{
    height: 100%;
    min-height: 400px;
    width: 100%;
    background-image: url(https://iili.io/JPwI6Au.jpg);
    background-position: right;
    background-size: cover;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}


/* Features */

.features-section{
    height: fit-content;
    width: 100%;
    padding: 10px;
    display: flex;
    background-color: #f3f3f3;
}

.features-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.features-title{
    padding: 50px;
}

.features-title h6{
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    color: #C20000;
}

.features-title h1{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.features-row{
    padding: 0px 50px 50px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.features{
    width: 32%;
}

.inner-title h6{
    letter-spacing: 2px;
    font-weight: 600;
    color: #C20000;
    font-family: "Poppins", sans-serif;


}

.inner-title h2{
    font-size: 26px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}



/* Faculties  */

.faculties{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    background-color: #f3f3f3;
}

.faculties-title{
    width: 100%;
    padding: 60px;
    text-align: center;
}

.faculties-title h5{
    color: #C20000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;

}

.faculties-title h2{
    color: black;
    font-size: 42px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.faculties-content{
    padding: 20px 50px 50px 50px;
}


.faculty-image{
    width: 200px;
    height: 200px;
}

.Faculty-img-section{
    display: flex;
    align-items: center;
    justify-content: center;
}