
@media (max-width:500px) {
  /* navbar */
  .offcanvas-header{
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.637);
  
  }
  
  .offcanvas-title{
    font-size: 30px;
  
  }

  
  .navbar-toggler{
    border: 1px solid transparent;
  }


  .navbar-toggler-icon{
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  
  a.nav-link{
    margin-right: 0px;
    margin-bottom: 8px;
  }
  
  
  .nav-btn{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .footer-links h6{
    margin-bottom: 30px;
  }
}

*::selection {
    color: white;
    background-color: #c20000;
  }

  * a{
    text-decoration: none;
  }
  
  .clear-space{
    display: block; height: 60px; width: 100%;
  }

  .main {
    background-color: aliceblue;
  }
  
  .navbar {
    width: 100%;
    box-shadow: 0px 0.3px 5px rgba(0, 0, 0, 0.466);
    min-height: 60px;
  
  }
  .nav-link {
    font-weight: 600;
    margin-right: 10px;
    font-size: 1.25rem;
  }
  
  .active1 {
    color: #c20000;
  }
  
  .active1:hover {
    color: #2168BD;
  }
  
  .nav-btn{
    background-color: #c20000;
    color: #fff;
    border: #c20000 0.5px solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .nav-btn:hover{
    background-color: #2168BD;
    color: white;
  }
  

  #intersect4 .shape1 {
    width: 85%;
  }
  
  #intersect5 {
    height: 3vh;
    background-color: #2168BD;
  }

  .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 2rem;
  }
  
  .mb-5 {
    margin-bottom: 2rem;
  }
  

  #back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    z-index: 9999;
    height: 50px;
    background-color: #c20000;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  
  #back-to-top:hover {
    opacity: 1;
  }