.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container{
  width: 70%;
  height: 85%;
  margin: 50px 0px;
  padding: 20px 0px;
  display: flex;
background-color: #0b47a1;
  border: black 2px solid;
  border-radius: 45px;
}

.inner-container{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.inner-container:nth-child(1){
  padding: 10px 10px 10px 30px;
}

.inner-container .title{ 
  padding-top: 10px ;
  color: white;
  margin-bottom: 10%;
}

.title h5{
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  text-shadow: 2px 3px 6px rgba(0,0,0,0.36);
}

.title h1{
  font-size: 55px;
  font-family: "oswald";
  text-shadow: 2px 3px 6px rgba(0,0,0,0.36);

}

.information ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.information ul li{
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 3px 6px rgba(0,0,0,0.36);

}

.information ul li i{
  font-size: 20px;
  margin-right: 10px;
  color: white;
}



.form-container{
  width: 100%;
  height: 100%;
  padding: 30px 30px;
  border-radius: 25px;
  position: relative;
  border: black 2px solid;
  box-shadow: 2px 3px 6px rgba(0,0,0,0.36);

  background-color: rgba(255, 255, 255, 0.836);
}

.form-container::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  border-radius: 25px;
  z-index: -1;
}

form label{
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #0B5ED7;
}

.inner-container:nth-child(2){
  padding: 10px 30px;
}

.text-box{
  background-color: transparent;
  border: transparent;
  width: 100%;
  padding: 8px 12px 8px 0px;
  border-radius: 3px;
  border-bottom: 1px solid rgb(37, 37, 37) ;
  
}

.text-box:hover{
  border-bottom: 1.5px solid rgb(136, 37, 37);
}

.text-box:focus{
  outline: none;
  border-bottom: 2px solid #c70c0c;

}

form button{
  width: 100%;
}



@media (max-width:500px){

  .title h1{
    font-size: 35px;
  }

  .main{
    height: fit-content;
  }

  .main-container{
    width: 90%;
    padding: 10px 0px;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .inner-container{
    width: 100%;
  }

  .inner-container:nth-child(1){
    padding: 20px;
  }


  .inner-container:nth-child(2){
    padding: 10px;
  }


  .form-container{
    padding: 20px;
  }



}