@media (max-width: 500px) {

    .wrapper{
        display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    
    .contact-wrap{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 0px;
    }

    .img{
        border-bottom-right-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 150px;
    }

    .form-btn{
        margin-bottom: 0px;
    }

    .form-group{
        margin-bottom: 10px;
    }

    .contact-container{
        width: 100%;
        padding: 10px;
        
        display: flex;
        flex-direction: column-reverse;
    }


}