@media (max-width:500px){
    .hero-text {
        font-size: 4rem;
    }

    .hero-cta {
        font-size: 1.6rem;
    }
}





  
  .carousel-item.card.user-image {
    margin-bottom: 20px;
  }
  
  .carousel-item.card.user-content {
    margin-bottom: 20px;
  }
  
  .carousel-item.card.ratings {
    margin-top: 20px;
  }
  
  @media (min-width: 576px) {
   .carousel-item.card {
      height: auto;
    }
  }
  
  @media (min-width: 768px) {
   .carousel-item.card {
      height: 100%;
    }
  }
  
  @media (min-width: 992px) {
   .carousel-item.card {
      height: auto;
    }
  }
  
  @media (min-width: 1200px) {
   .carousel-item.card {
      height:100%;
   }
}