* {
  box-sizing: border-box;
}


.nav-link {
  font-weight: 600;
  margin-right: 10px;
  font-size: 1.25rem;
}



*::selection {
  color: white;
  background-color: #c20000;
}

.main {
  width: 100%;
  height: calc(100vh-60px);
  margin-top: 60px;
  background-color: aliceblue;
}

.navbar {
  box-shadow: 0px 0.3px 5px rgba(0, 0, 0, 0.637);
  min-height: 60px;
}

.active1 {
  color: #c20000;
}

.active1:hover {
  color: #2168BD;
}

#Page1 {
  width: 100%;
  height: calc(100vh - 60px);
  max-height: 650px;
  margin-top: 60px;
  background: black;
}


.hero-section {
  background-image: url('https://iili.io/J4ZtkKB.png');
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  position: relative;
  text-align: center;

}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.hero-text {
  font-size: 5rem;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.685);
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  z-index: 1;
}

.hero-cta {
  background-color: #c20000;
  color: #fff;
  border: #c20000 0.5px solid;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1;
}

.hero-cta:hover {
  background-color: #2168BD;
  color: #fff;
}

.section {
  height: 100vh;
  width: 100%;
  background: blanchedalmond;
}

#intersect1 {
  width: 100%;
  height: 9rem;
  background-color: #2168BD;
  display: flex;
}

.shape1 {
  height: 100%;
  width: 55%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 550px;
  background-color: #c20000;
}

#intersect1 .right {
  width: 45%;
  height: 100%;
  padding-right: 150px;
  display: flex;
  align-items: center;
  justify-content: end;

}

.shape1 .inner-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  left: 50px;
  color: #fff;

}

.shape1 .inner-content h3 {
  font-size: 40px;
  font-family: "Oswald", sans-serif;

}

.right-btn {
  background-color: #c20000;
  color: #fff;
  border: #fff 1px solid;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1;
}

.right-btn:hover {
  background-color: #be0404;
  color: #fff;
  border: #ffffff 2.5px solid;
}



#page2 {
  width: 100%;
  height: 98vh;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
}


.page2-title {
  width: 100%;
  height: 60px;
  display: flex;
}

.page2-content {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  /* border: solid 2px black; */
  box-shadow: 2px 4px 20px 0px;
}

/* .page2-left{
  width: 50%;
  height:100%;
  background-color: rgb(204, 120, 9);
  display: flex;
}

.page2-right{
  width: 50%;
  height: 100%;
  background-color: rgb(204, 9, 9);
  display: flex;
} */




#page2 .heading,
#page3 .heading {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-family: "Oswald", sans-serif;
}

.content {
  font-size: 20px;
  line-height: 1.5;

}

.left-btn {
  font-size: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.inner-right {
  display: flex;
  flex-direction: column;
}



#intersect2 {
  width: 100%;
  height: 9rem;
  background-color: #c20000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#intersect2 .shape2 {
  width: 85%;
  height: 550%;
  background-color: #1c579e;
  border-radius: 155%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shape2-inner-content h2 {
  color: white;
  display: flex;
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.89);
  flex-direction: column;
  align-items: center;
}

.counter {
  background-color: transparent;
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 30px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #c20000;
}






#page3 {
  width: 100%;
  height: 98vh;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px
}



.page3-content {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}


#intersect3 {
  height: 3vh;
  background-color: #2168BD;
}

#intersect3 .shape1 {
  width: 70%;
}

#Academics {
  width: 100%;
  height: 90vh;
  max-height: 600px;
  display: flex;

  align-items: center;
  flex-direction: column;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px
}

.academics-title {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.academics-title h1 {
  font-size: 45px;
  color: black;
  font-family: "oswald", sans-serif;

}

.academics-content {
  width: 90%;
  height: 65%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  background-color: #ffffff;
}

.academics-content .vertical-divider {
  width: 3px;
  height: 85%;
  border-radius: 25px;
  background-color: #000000;
}

.academics-content .academics-right {
  width: 50%;
  height: 100%;
  padding: 30px 40px;

}

.academics-content .academics-left {
  width: 50%;
  height: 100%;
  padding: 30px 40px;

}

.academics-content .content-right {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.academics-content .content-left {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.academics-content .content-image {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 45px;
  color: white;
  background-color: #c20000;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.academics-content .content-image:hover {
  border: 3px solid #c20000;
  background-color: white;
  color: #c20000;
}

.academics-content .content-text {
  width: 100%;
  height: calc(100% - 150px);

}

.academics-content .content-text h2 {
  font-size: 40px;
  text-align: center;
  font-family: "oswald";
}

.academics-content .content-text p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

a {
  text-decoration: none;
}









#intersect4 {
  height: 3vh;
  background-color: #2168BD;
}

s #intersect4 .shape1 {
  width: 85%;
}

#intersect5 {
  height: 3vh;
  background-color: #2168BD;
}



#gallery {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px
}

.gallery-title {
  text-align: center;
  color: black;
  padding: 20px;
}

.image1 {
  overflow: hidden;
  height: 300px;
  box-shadow: 0px 0px 8px 0px #000000;
}

.image2 {
  overflow: hidden;
  height: 680px;
  box-shadow: 0px 0px 8px 0px #000000;
}

/* Overlay */

.overlay1 {
  position: relative;
  background-color: #000000ab;
  opacity: 0;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.overlay1:hover {
  opacity: 1;
}

.overlay1 h3 {
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-family: "oswald", sans-serif;
}

.overlay1 a {
  text-decoration: none;
  color: #fff;
}

.overlay1 p {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
}

.overlay1 p:hover {
  text-decoration: underline;
}


.img-gallery1 {
  background-image: url("https://iili.io/J4ZtkKB.png");
  background-size: cover;
  background-clip: border-box;
  background-position: center;
}

.img-gallery2 {
  background-image: url("https://iili.io/J65aNTB.jpg");
  background-size: cover;
  background-clip: border-box;
  background-position: center;
}

.img-gallery6 {
  background-image: url("https://iili.io/J65aNTB.jpg");
  background-size: cover;
  background-clip: border-box;
  background-position: center;
}

.image2 .gallery-title h1 {
  font-family: "oswald", sans-serif;
}


.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #c20000;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

#back-to-top:hover {
  opacity: 1;
}